.outer-circle {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  transform-origin: center;
}

.outer-circle circle {
  stroke-dasharray: 252;
  stroke-dashoffset: 252;
  -webkit-animation: drawCircle 0.35s ease-in-out;
  animation: drawCircle 0.35s ease-in-out;
  animation-fill-mode: forwards;
}

*:focus-visible {
  outline: none;
}

.tick-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  background-color: #7a7a7a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: showTick 0.45s ease-in-out;
  animation: showTick 0.45s ease-in-out;
  animation-fill-mode: forwards;
  position: absolute;
}

@keyframes drawCircle {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes showTick {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.85)
  }

  70% {
    transform: translate(-50%, -50%) scale(1.25);
  }

  100% {
    opacity: 100;
    transform: translate(-50%, -50%) scale(1);
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}
