@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grad_one: #df2cf0;
  --grad_two: #dc5cff;
  --grad_three: #7acbff;
  --grad_four: #41deff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-bg-zen {
  position: relative;
}

.gradient-bg-zen::before {
  content: '';
  position: absolute;
  width: 120vw;
  height: 120vw;
  background: linear-gradient(-45deg, #f87bdf, #66ccff,  #d07ef9, #66ccff);
  /* background: linear-gradient(-45deg, #00CEC9, #6C5CE7, #FFBE0B, #00CEC9); */
  background-size: 400%  400%;
  animation: gradientShift 10s ease-in-out infinite, rotateGradient 15s linear infinite;
  z-index: -1;
  /* opacity: 0.55; */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
    /* transform: rotate(0deg); */
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
    /* transform: rotate(360deg); */
  }
}

@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}
.gradient-bg-zen-alt {
  position: relative;
}

.gradient-bg-zen-alt::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: linear-gradient(-45deg, #ff9eec, #86d5fc, #bc97f3, #d48cf8, #88d7fe, #df9fff, #88d6fd);
  /* background: linear-gradient(-45deg, #00CEC9, #6C5CE7, #FFBE0B, #00CEC9); */
  background-size: 400%  400%;
  animation: gradientShiftAlt 20s ease-in-out infinite;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0.55; */
}

.rotate-alt{
  animation: rotateGradient 30s linear infinite;
}

@keyframes gradientShiftAlt {
  0% {
    background-position: 0% 0%;
    /* transform: rotate(0deg); */
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
    /* transform: rotate(360deg); */
  }
}
@keyframes rotateGradientAlt {
  0% {
    transform: rotate(0deg), translate(-50%, -50%);
  }
  50% {
    transform: rotate(360deg), translate(-50%, -50%);
  }
}

.gradient-zen{
  background: linear-gradient(-75deg, #ff00cc, #cc66ff, #66ccff);
}

.gradient-zen-light{
  background: linear-gradient(-165deg, #f89ee6, #e2aafe, #b8e0f4);
}

.button-zen {
  background: linear-gradient(30deg, #cc66ff, #66ccff);
  background-size: 150% 150%;
  background-position: 0% 50%;
  transition: all 0.2s ease-in-out;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid white;
}

.button-zen:hover {
  transform: scale(1.02);
  border: 2px solid #cc66ff;
  background-position: 50% 50%;
}


.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradient-bg-zen-three {
  position: relative;
}

.gradient-bg-zen-three::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120vw;
  height: 120vw;
  background: linear-gradient(-45deg, #f87bdf, #66ccff,  #d07ef9, #66ccff);
  /* background: linear-gradient(-45deg, #00CEC9, #6C5CE7, #FFBE0B, #00CEC9); */
  background-size: 200%  200%;
  animation: gradientShift 10s ease-in-out infinite;
  z-index: -1;
  /* opacity: 0.55; */
}

.rotate-alt{
  animation: rotateGradient 30s linear infinite;
}

.pulsate{
  animation: pulsate 12s ease-in-out infinite;
}


@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}